@media(max-width:1025px){
    /* header */
    header{
        padding-inline: 32px;

    }
    /* section1 */
    .section1{
        padding-inline: 66px;
    }
    /* section2 */
    .section2{
      flex-direction: column;  

      row-gap: 40px;
      padding: 32px;
        
    }
    .secton2_img{
        width: 100%;
        height: 480px;
    }
    .section2_content{
      
        display: flex;
       column-gap:80px ;
    }
    .section2_title{
        flex-basis: 50%;
    }
    .section2_p{
        flex-basis: 50%; 
    }
    /* section3 */
    .section3{
        padding-inline: 32px;
    }
    /* footer */
footer{
    padding: 40px 32px;
}
}
@media(max-width:835px){
    /* header */
    header{
        padding-inline: 24px;
       
}

.navigation{
    display: none;
}
.header_icon{
    display: none;
}
.burger{
    display: block;
}
 /* section1 */
 .section1{
  padding: 94px 85px;

height: 320px;
}
.secton2_img{
    width: 100%;
    height: 320px
}
.section1_title{
    font-size: 36px;      
}
/* section2 */
.section2{
    
    
    padding: 24px;
      
  }
  .section2_content{
    flex-direction: column;
    row-gap: 20px;
  }
/* section3 */
.section3{
    flex-direction: column;
}
    /* footer */
    footer{
        padding: 32px 24px;
        flex-direction: column;
        row-gap: 32px;
    }
    h5{}
}
@media(max-width:800){
   /* section1 */
  
.section1_title{
    font-size: 24px;      
}
.section1{
   padding: 52px 24px;
   height: 240px;
   width: 100%;
}
/* section2 */
.section2 {
    height: 528px;
  }
.secton2_img{
    height: 240px;
}
.section2_title{
    font-size: 18px;
    line-height: 26px;
}
.section2_p{
    font-size: 14px;
    line-height: 22px;
}
/* footer */
footer{
    align-items: center;
}
}