.container{
    width:(100%, 1440px);
    margin: auto;
}
/* header */
header{
    display: flex;
    justify-content: space-between;
    padding: 24px 150px;
    align-items: center;

}
.burger{
    display: none;
}
.brand{
    color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 32px;
letter-spacing: -0.44px;
text-transform: uppercase;
}
.navigation{
    display: flex;
    column-gap: 36px;
}
.nav_link{
    color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
letter-spacing: -0.44px;
text-transform: uppercase;
}
/* section1 */
.section1{
   
    background-image: url(../images/cover-1440.png);
    height: 520px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-inline: 274px;
    display: flex;
    align-items: center;

}
.section1_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}

.section1_title{
    color: #000;
text-shadow: 3px 3px 4px #FFF;
font-family: Inter;
font-size: 56px;
font-style: normal;
font-weight: 900;
line-height: 60px; 
text-align: center;

}
/* section2 */
.section2{
    background: #000;
    display: flex;
  flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 60px 150px ;
   column-gap: 160px;

}
.secton2_img{
    height: 400px;
   width: 100%;
}
.section2_content{
    /* width: 490px; */
    
}
.section2_title{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 32px; 
letter-spacing: -0.1px;
margin-bottom: 20px;

}
.section2_p{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.1px;
 
}
/* section3 */
.section3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 150px;
    column-gap: 30px;

    
}
.scetion3_content{
    background: #E3DAD8;
    display: flex;
    flex-direction:column;
    row-gap: 16px;
width: 100%;
    
    
    

}
.section3_icon_title{
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.section3_content_title{
    color: #000;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; 
}
.secetion3_p{
    color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.1px;
}
/* footer */
footer{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 96px 150px;

}
h2{
    color: #FFF;
font-family: Inter;
font-size: 24.653px;
font-style: normal;
font-weight: 900;
line-height: 26.414px;
letter-spacing: -0.44px;
text-transform: uppercase;

}
.footer_right{
    display: flex;
  column-gap: 80px;
}
.footer_column{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.column_text{
    color: #FFF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
}
h5{
    color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.1px;
margin-bottom: 16px;
}